{% extends "@ElegantBootstrapTemplate/base.html.twig" %}
{% block title %}
    <title>{{ 'dash'|trans }}</title>
{% endblock %}
{% block body %}
    <a>Welcome, {{ kmj_user.username }}</a>
    </br>
    <a>Anda login sebagai {{ kmj_user.name }}</a>
    {{ render_chart(chart) }}
{% endblock %}