{% extends '@BaseController/modal-layout.html.twig' %}

{% block title %}{{ 'show'|trans}} {{ 'jenispaket'|trans }}{% endblock %}

{% block content %}
    
    <table class="table table-bordered table-hover">
        <tbody>
                        <tr>
                <th width="30%">Id</th>
                <td>{{ jenis_paket.id }}</td>
            </tr>
                        <tr>
                <th width="30%">Nama_jenis_paket</th>
                <td>{{ jenis_paket.namaJenisPaket }}</td>
            </tr>
                    </tbody>
    </table>
        
{% endblock %} 
    
