{% extends "@ElegantBootstrapTemplate/page_layout.html.twig" %}

{% block title %}
    <title>{{'serial'}}</title>
{% endblock %}

{% block actions %}
{% endblock %}
{% block content %}
    
{% endblock %}
